<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h3>SHIPMENT TYPE DATA PAGE !!</h3>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<tr class="bg-info text-white">
						<th>ID</th>
						<th>MODE</th>
						<th>CODE</th>
						<th>ENABLED</th>
						<th>GRADE</th>
						<th>DESCRIPTION</th>
						<th>OERATIONS</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.shipMode}"></td>
						<td th:text="${ob.shipCode}"></td>
						<td th:text="${ob.enableShip}"></td>
						<td th:text="${ob.shipGrad}"></td>
						<td th:text="${ob.shipDesc}"></td>
						<td><a th:href="@{/st/delete(id=${ob.id})}"
							class="btn btn-danger">DELETE</a> | 
							<a th:href="@{/st/edit(id=${ob.id})}" class="btn btn-warning">EDIT</a></td>
					</tr>
				</table>
			</div>
			<div class="card-footer text-white"
				th:if="${message!=null}">
				<span th:text="${message}" class="text-success"></span>
			</div>
		</div>
	</div>
</body>
</html>